__pycache__/
*.py[cod]
*.pyo
*.pyd
.DS_Store
.vscode/
venv/
.env/
MrAttractor/

*.log
!requirements.txt
ours/
temp_degfile/
temp_binary_file/
artifacts/
.venv/
testgraphs/*.txt
libs/read_npArray.py
graph_jaccard_initialized
graph_degrees